<div class="page-con">
    <div class="login-con">
        <img id="logo" src="../../../../../assets/logos/slated-full-logo2.png" alt="slated-full-logo">
        <div class="title">Create a new password!</div>
        <div class="sub-title">A verification code is sent to: <span>{{glf.email.value}}</span></div>
        <form class="login-form" [formGroup]="loginForm">
            <mat-form-field class="form-field" appearance="outline" style="display: none;">
                <mat-icon class="input-icon" matPrefix svgIcon="email" aria-hidden="false"
                    aria-label="Example thumbs up SVG icon"
                    [ngClass]="{'error-icon':glf.email.dirty && glf.email.errors!==null}">
                </mat-icon>
                <input type="email" matInput formControlName="email" placeholder="Enter your email"
                    [errorStateMatcher]="errorMatcher" readonly autocomplete="username">
                <mat-error *ngIf="glf.email.errors?.email && !glf.email.errors?.required">
                    * Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="glf.email.errors?.required">
                    * Your email is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-icon class="input-icon" matPrefix svgIcon="lock" aria-hidden="false" aria-label="Lock SVG icon"
                    [ngClass]="{'error-icon':glf.password.dirty && glf.password.errors!==null}">
                </mat-icon>
                <input type="{{showingPassword?'text':'password'}}" matInput formControlName="password"
                    [errorStateMatcher]="errorMatcher" placeholder="Create new password" autofocus
                    autocomplete="new-password" #newPassword>
                <mat-error *ngIf="glf.password.errors?.required">
                    * Password is required
                </mat-error>
                <mat-error *ngIf="glf.password.errors?.minlength">
                    * Password must be at least 8 characters
                </mat-error>
                <mat-error
                    *ngIf="!glf.password.errors?.required && !glf.password.errors?.minlength && glf.password.errors?.invalidPassword">
                    * Password must have an upper & lower case, a number & a special character
                </mat-error>
                <mat-icon *ngIf="!showingPassword" class="hide-password-icon" matSuffix svgIcon="hide-password"
                    aria-hidden="false" aria-label="SVG icon" (click)="showingPassword=!showingPassword">
                </mat-icon>
                <mat-icon *ngIf="showingPassword" class="show-password-icon" matSuffix svgIcon="show-password"
                    aria-hidden="false" aria-label="SVG icon" (click)="showingPassword=!showingPassword">
                </mat-icon>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-icon class="input-icon" matPrefix svgIcon="lock" aria-hidden="false" aria-label="Lock SVG icon"
                    [ngClass]="{'error-icon':glf.confirmPassword.dirty && glf.confirmPassword.errors!==null}">
                </mat-icon>
                <input type="password" matInput formControlName="confirmPassword" [errorStateMatcher]="errorMatcher2"
                    placeholder="Confirm password" autocomplete="off">
                <mat-error *ngIf="loginForm.errors?.misMatch">
                    * Confirmed password must match the set password
                </mat-error>
                <button *ngIf="glf.confirmPassword.value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="loginForm.patchValue({confirmPassword:null})">
                    <mat-icon color="warn">close</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-icon class="input-icon" matPrefix svgIcon="lock" aria-hidden="false" aria-label="Lock SVG icon"
                    [ngClass]="{'error-icon':glf.otp.dirty && glf.otp.errors!==null}">
                </mat-icon>
                <input type="number" matInput formControlName="otp" [errorStateMatcher]="errorMatcher2"
                    placeholder="Verification code" autocomplete="off">
                <mat-error *ngIf="glf.otp.errors?.min || glf.otp.errors?.max">
                    * Invalid verification code
                </mat-error>
                <mat-error *ngIf="glf.otp.errors?.required">
                    * Verification code is required
                </mat-error>
                <button *ngIf="glf.otp.value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="loginForm.patchValue({otp:null})">
                    <mat-icon color="warn">close</mat-icon>
                </button>
            </mat-form-field>
        </form>
        <button class="blue-btn" type="button" mat-button (click)="startLogin()" [disabled]="!loginForm.valid">
            Confirm
        </button>
    </div>
    <app-footer></app-footer>
    <img id="chalkmark_bg_1" src="../../../../../assets/chalk-marks/spark-green.png" alt="spark-green">
    <img id="chalkmark_bg_2" src="../../../../../assets/chalk-marks/arrow-lightblue.png" alt="arrow-lightblue">
</div>