.calendar-selection-con{
    cursor: pointer;
    color: var(--primary-text-black);
    font-size: 20px;
    line-height: 130%;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 150px;
}
.calendar-selection-con:hover{
    color: var(--primary-blue);
}
.calendar-selection-con.unselectable:hover{
    color: var(--primary-text-black);
    cursor: auto;
}
.down-arrow-icon{
    width: 15px;
    padding-left: 7px;
    padding-right: 7px;
    transition: transform 0.25s;
    transform: rotate(0deg);
}
.down-arrow-icon.open{
    transform: rotate(180deg);
}

::ng-deep .calendar-menu{
    margin-top: 0 !important;
    box-shadow: 0px 20px 30px rgba(34, 41, 55, 0.05) !important;
    border-radius: 5px !important;
    width: 150px;
}
::ng-deep .calendar-menu .mat-menu-content{
    padding-top: 0 !important;
}

.menu-con{
    padding: 10px 5px;
}
.option-item{
    padding: 7px 15px;
    cursor: pointer;
}
.option-item.highlighted, .option-item:hover{
    color: var(--primary-blue);
}


