<div class="page-con">
    <div class="login-con">
        <img id="logo" src="../../../../../assets/logos/slated-full-logo2.png" alt="slated-full-logo">
        <div class="title">Welcome back!</div>
        <div class="sub-title">Email <span>{{glf.email.value}}</span> already exists, please log in!</div>
        <form class="login-form" [formGroup]="loginForm">
            <mat-form-field class="form-field" appearance="outline">
                <mat-icon class="input-icon" matPrefix svgIcon="email" aria-hidden="false"
                    aria-label="Example thumbs up SVG icon"
                    [ngClass]="{'error-icon':glf.email.dirty && glf.email.errors!==null}">
                </mat-icon>
                <input type="email" matInput formControlName="email" placeholder="Your email"
                    [errorStateMatcher]="errorMatcher" readonly autocomplete="username">
                <mat-error *ngIf="glf.email.errors?.email && !glf.email.errors?.required">
                    * Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="glf.email.errors?.required">
                    * Your email is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-icon class="input-icon" matPrefix svgIcon="lock" aria-hidden="false" aria-label="Lock SVG icon"
                    [ngClass]="{'error-icon':glf.password.dirty && glf.password.errors!==null}">
                </mat-icon>
                <input type="{{showingPassword?'text':'password'}}" matInput formControlName="password"
                    [errorStateMatcher]="errorMatcher" placeholder="Enter password" autofocus
                    autocomplete="current-password">
                <mat-error *ngIf="glf.password.errors?.required">
                    * Password is required
                </mat-error>
                <mat-error *ngIf="glf.password.errors?.minlength || glf.password.errors?.invalidPassword">
                    * Invalid password
                </mat-error>
                <!-- <mat-error
                    *ngIf="!glf.password.errors?.required && !glf.password.errors?.minlength && glf.password.errors?.invalidPassword">
                    * Password must have an upper & lower case, a number & a special character
                </mat-error> -->
                <mat-icon *ngIf="!showingPassword" class="hide-password-icon" matSuffix svgIcon="hide-password"
                    aria-hidden="false" aria-label="SVG icon" (click)="showingPassword=!showingPassword">
                </mat-icon>
                <mat-icon *ngIf="showingPassword" class="show-password-icon" matSuffix svgIcon="show-password"
                    aria-hidden="false" aria-label="SVG icon" (click)="showingPassword=!showingPassword">
                </mat-icon>
            </mat-form-field>
            <div class="blue-text-btn forgot-msg" (click)="navigateTo('login/forgot-password')">Forgot password?</div>
        </form>
        <button class="blue-btn" type="button" mat-button (click)="startLogin()" [disabled]="!loginForm.valid">
            Sign in
        </button>
        <div class="divider">
            <div class="line"></div>
            <div class="or">or</div>
            <div class="line"></div>
        </div>
        <button class="white-btn" type="button" mat-button (click)="startOTP()">
            Send a one-time password
        </button>
    </div>
    <app-footer></app-footer>
    <img id="chalkmark_bg_1" src="../../../../../assets/chalk-marks/spark-green.png" alt="spark-green">
    <img id="chalkmark_bg_2" src="../../../../../assets/chalk-marks/arrow-lightblue.png" alt="arrow-lightblue">
</div>