@import '../../preferences.scss';
   
#chalkmark_bg_1{
    width: 7vw;
    top: 15%;
    right: 18%;
}
#chalkmark_bg_2{
    width: 6vw;
    left: 15%;
    bottom: 31%;
}
#chalkmark_bg_3{
    width: 3vw;
    left: 20%;
    top: 21%;
}