.search-form{
    width: 100%;
    transition: all 0.25s;
    cursor: pointer;
}
// .search-form.collapsed{
//     width: 45px;
// }

.title-field{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}
.title-field .mat-input-element{
    font-weight: 300 !important;
    color: #ABABAB;
    font-size: 18px;
    font-weight: 400 !important;
    padding-left: 0 !important;
}
.title-field .ng-valid{
    color: var(--primary-text-black);
}
// .search-form.collapsed .title-field input{
//     cursor: pointer;
// }
// .search-icon{
//     width: 20px;
//     position: relative;
//     top: 2px;
//     left: 3px;
// }
.close-icon{
    cursor: pointer;
    position: relative;
    top: 2px;
    left: 3px;
    width: 15px;
    padding: 0 10px;
}
// .select-all{
//     position: relative;
//     top: -5px;
//     font-weight: 300;    
//     padding-right: 5px;
// }

.no-options {
    color: var(--primary-error-red);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    text-align: center;
    line-height: 1.5;
}

.options-con {
    overflow-y: auto;
    max-height: 310px;
    padding: 5px 0;
}
.options-con .option-item{
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
}

::ng-deep .options-con .highlighted .mat-checkbox-label{
    color: var(--primary-blue);
    font-weight: 500 !important;
}
.options-con div:hover{
    color: var(--primary-blue);
}

::ng-deep .title-field .mat-form-field-wrapper{
    width: 100%;
    // padding-bottom: 0;
    // margin: 0 !important;
    // font-size: 12px;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start, 
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap{
    border-color: #F0F2F6 !important;
}
// ::ng-deep .search-form:hover .mat-form-field-appearance-outline .mat-form-field-outline-start,
::ng-deep .mat-focused.mat-form-field-appearance-outline .mat-form-field-outline-start, 
// ::ng-deep .search-form:hover .mat-form-field-appearance-outline .mat-form-field-outline-end,
::ng-deep .mat-focused.mat-form-field-appearance-outline .mat-form-field-outline-end,
// ::ng-deep .search-form:hover .mat-form-field-appearance-outline .mat-form-field-outline-gap,
::ng-deep .mat-focused.mat-form-field-appearance-outline .mat-form-field-outline-gap{
    border-color: var(--primary-blue) !important;
}
::ng-deep .title-field.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent;
    padding: 0;
}
::ng-deep .title-field.mat-form-field-appearance-fill .mat-form-field-underline::before{
    background-color: transparent;
    background-color: var(--border-lightgray);
}
::ng-deep .title-field .mat-form-field-ripple{
    background-color: var(--border-lightgray);
}
::ng-deep .title-field.mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: var(--primary-blue);
}
::ng-deep .title-field.mat-form-field-appearance-fill .mat-form-field-ripple{
    height: 1px !important;
}


::ng-deep .type-selection-menu{
    margin-top: 15px !important;
    box-shadow: 0px 20px 30px rgba(34, 41, 55, 0.05) !important;
    // border-radius: 5px !important;
    border: 1px solid #f0F2F6;
    border-top: none;
    border-radius: 0 0 5px 5px !important;    
}
::ng-deep .type-selection-menu .mat-menu-content{
    padding-top: 0 !important;
}
::ng-deep .type-selection-menu.mat-menu-panel{
    max-width: none;
    min-width: none;
}



