<div class="page-con">
    <div class="login-con">
        <img id="logo" src="../../../../../assets/logos/slated-full-logo2.png" alt="slated-full-logo">
        <div class="title">Welcome to Slated!</div>
        <div class="sub-title">Email <span>{{glf.email.value}}</span> is new, do create a password!</div>
        <form class="login-form" [formGroup]="loginForm">
            <mat-form-field class="form-field" appearance="outline">
                <mat-icon class="input-icon" matPrefix svgIcon="account" aria-hidden="false" aria-label="Email SVG icon"
                    [ngClass]="{'error-icon':glf.name.touched && glf.name.errors!==null}">
                </mat-icon>
                <input type="text" matInput formControlName="name" placeholder="Your name"
                    [errorStateMatcher]="errorMatcher3" autofocus spellcheck="false" #name>
                <mat-error *ngIf="glf.name.errors?.name && !glf.name.errors?.required">
                    * Please enter a valid name
                </mat-error>
                <mat-error *ngIf="glf.name.errors?.required">
                    * Your name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline" style="display: none;">
                <mat-icon class="input-icon" matPrefix svgIcon="email" aria-hidden="false"
                    aria-label="Example thumbs up SVG icon"
                    [ngClass]="{'error-icon':glf.email.dirty && glf.email.errors!==null}">
                </mat-icon>
                <input type="email" matInput formControlName="email" placeholder="Enter your email"
                    [errorStateMatcher]="errorMatcher" readonly autocomplete="username">
                <mat-error *ngIf="glf.email.errors?.email && !glf.email.errors?.required">
                    * Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="glf.email.errors?.required">
                    * Your email is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline" style="margin-bottom: 10px;">
                <mat-icon class="input-icon" matPrefix svgIcon="lock" aria-hidden="false" aria-label="Lock SVG icon"
                    [ngClass]="{'error-icon':glf.password.dirty && glf.password.errors!==null}">
                </mat-icon>
                <input type="{{showingPassword?'text':'password'}}" matInput formControlName="password"
                    [errorStateMatcher]="errorMatcher" placeholder="Your new password" spellcheck="false"
                    autocomplete="current-password">
                <mat-hint align="start" class="validation-msg-con">
                    <span class="validation-msg"
                        [ngClass]="{'highlighted':glf.password.value && !glf.password.errors?.minlength}">
                        <img src="../../../../../assets/icons/tick-green.svg">
                        8 characters
                    </span>
                    <span class="validation-msg"
                        [ngClass]="{'highlighted':!glf.password.errors?.invalidPassword_missingNumber}">
                        <img src="../../../../../assets/icons/tick-green.svg">
                        1 number
                    </span>
                    <span class="validation-msg"
                        [ngClass]="{'highlighted':!glf.password.errors?.invalidPassword_missingSpecial}">
                        <img src="../../../../../assets/icons/tick-green.svg">
                        1 special character
                    </span>
                </mat-hint>
                <mat-icon *ngIf="!showingPassword" class="hide-password-icon" matSuffix svgIcon="hide-password"
                    aria-hidden="false" aria-label="SVG icon" (click)="showingPassword=!showingPassword">
                </mat-icon>
                <mat-icon *ngIf="showingPassword" class="show-password-icon" matSuffix svgIcon="show-password"
                    aria-hidden="false" aria-label="SVG icon" (click)="showingPassword=!showingPassword">
                </mat-icon>
            </mat-form-field>
            <!-- <mat-form-field class="form-field" appearance="outline" *ngIf="glf.password.valid">
                <mat-icon class="input-icon" matPrefix svgIcon="lock" aria-hidden="false" aria-label="Lock SVG icon"
                    [ngClass]="{'error-icon':glf.confirmPassword.dirty && glf.confirmPassword.errors!==null}">
                </mat-icon>
                <input type="{{showingConfirmPassword?'text':'password'}}" matInput formControlName="confirmPassword"
                    [errorStateMatcher]="errorMatcher2" placeholder="Confirm new password" spellcheck="false">
                <mat-error *ngIf="loginForm.errors?.misMatch">
                    * Confirmed password must match the set password
                </mat-error>
                <mat-icon *ngIf="!showingConfirmPassword" class="hide-password-icon" matSuffix svgIcon="hide-password"
                    aria-hidden="false" aria-label="SVG icon" (click)="showingConfirmPassword=!showingConfirmPassword">
                </mat-icon>
                <mat-icon *ngIf="showingConfirmPassword" class="show-password-icon" matSuffix svgIcon="show-password"
                    aria-hidden="false" aria-label="SVG icon" (click)="showingConfirmPassword=!showingConfirmPassword">
                </mat-icon>
            </mat-form-field> -->
        </form>
        <button class="blue-btn" type="button" mat-button (click)="startLogin()" [disabled]="!loginForm.valid">
            Sign up
        </button>
        <div class="divider">
            <div class="line"></div>
            <div class="or">or</div>
            <div class="line"></div>
        </div>
        <button class="white-btn" type="button" mat-button (click)="startOTP()">
            Send a one-time password
        </button>
        <div class="signup-msg">
            Already have an account? <span class="blue-text-btn" (click)="navigateTo('login')">Log In</span>
        </div>
    </div>
    <app-footer></app-footer>
    <img id="chalkmark_bg_1" src="../../../../../assets/chalk-marks/spark-green.png" alt="spark-green">
    <img id="chalkmark_bg_2" src="../../../../../assets/chalk-marks/arrow-lightblue.png" alt="arrow-lightblue">
</div>