<div class="page-con">
    <app-public-header class="header-con"></app-public-header>
    <div class="content-con">
        <div class="left">
            <div class="title">Oops!<br>Page not found</div>
            <section>
                <div class="line1">This page doesn't exist or was removed</div>
            </section>
            <div style="flex:1"></div>
            <button class="blue-btn back-btn" type="button" mat-button (click)="goBack()">
                Back to home
            </button>
            <img id="chalkmark_bg_2" src="../../../../../assets/chalk-marks/wigglearrow-lightblue.png"
                alt="wigglearrow-lightblue">
        </div>
        <div class="right">
            <img id="broken_robot" src="../../../../../assets/assistant/broken-robot.png" alt="broken-robot">
        </div>
    </div>
    <img id="chalkmark_bg_1" src="../../../../../assets/chalk-marks/wiggle-yellow.png" alt="wiggle-yellow">
    <img id="chalkmark_bg_3" src="../../../../../assets/chalk-marks/square-lightgreen.png" alt="square-lightgreen">
</div>