<div class="page-con">
    <div class="preference-con">
        <img id="logo" src="../../../../../assets/logos/slated-full-logo2.png" alt="slated-full-logo">
        <div class="sub-title">Welcome to Slated. Let's get you started.</div>
        <div class="title">When are you most productive?</div>
        <div class="inline-dropdown-con">
            <app-inline-dropdown title="I can focus on work most at" placeholder="select time" [options]="hourOptions"
                (change)="onSetTime($event)" (close)="onCloseTime($event)" (open)="onOpenTime($event)"
                [selectedOptions]="selectedTimeOptions" [showSearch]="true" [tabindex]="1" displayFn="time"
                [isMenuOpenOnInit]="false" [deferredMenuOpen]="isReady">
            </app-inline-dropdown>
            <app-inline-dropdown
                *ngIf="(!!gf.productiveHours.value.length && !isTimeOpen)||!!gf.minFocusTimePerWeek.value.length"
                title="and I need at least" titleSuffix="&nbsp;&nbsp;a week as uninterrupted focus-time"
                placeholder="select duration" [options]="durationOptions" (change)="onSetDuration($event)"
                [selectedOptions]="selectedDurationOptions" [showSearch]="false" [tabindex]="2" [maxSelect]="1"
                [hideSelectAll]="true" [hideClearAll]="true">
            </app-inline-dropdown>
        </div>
        <button class="blue-btn" mat-button (click)="next()" [disabled]="!preferenceForm.valid"
            tabindex="3">Continue</button>
        <div class="blue-text-btn skip-btn" (click)="skip()">Skip</div>
        <div class="blue-text-btn" (click)="remindLater()">Remind me later</div>
    </div>
    <div style="flex: 1;"></div>
    <div class="page-number">
        <mat-icon class="left-arrow-icon" svgIcon="down-arrow" (click)="previous()">
        </mat-icon>
        <div class="txt"><span>3</span>/5</div>
        <mat-icon class="right-arrow-icon" svgIcon="down-arrow" (click)="skip()">
        </mat-icon>
    </div>
    <img id="chalkmark_bg_1" class="chalkmark_bg" src="../../../../../assets/chalk-marks/wigglearrow-lightblue.png"
        alt="spark-green">
    <img id="chalkmark_bg_2" class="chalkmark_bg" src="../../../../../assets/chalk-marks/square-lightgreen.png"
        alt="arrow-lightblue">
    <img id="chalkmark_bg_3" class="chalkmark_bg" src="../../../../../assets/chalk-marks/spark-yellow.png"
        alt="arrow-lightblue">
</div>