.previous-con{
    display: flex;
    align-items: center;
    padding: 7.5px 0;
}

.icon-con{
    background: rgba(255, 255, 255, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;   
}
.calendar-icon{
    color: white;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-con{
    padding-left: 15px;
}
.title{
    color: var(--assistant-text-white);
    font-size: 14px;
}
.subtitle{
    color: var(--assistant-text-gray);
    padding-top: 5px;
    font-size: 11px;
}
