<div *ngFor="let item of weekdays">
  <div class="time-div" *ngFor="let meeting of meetings">
    <div
      class="meeting-container"
      *ngIf="meeting.displayStartDate == item.date.getDate()"
      [ngClass]="{
        'meeting-container--active':
          item.date.getDate() === currentDate.getDate()
      }"
      [ngStyle]="{
        'height.px': meeting.endDateTime,
        'top.px': meeting.startDateTime
      }"
    >
      <div class="meeting-content">
        <div class="meeting-time">
          {{ meeting.startDateTime }} - {{ meeting.endDateTime }}
        </div>
        <div class="meeting-name">
          {{ meeting.name }}
        </div>
      </div>
    </div>
  </div>
  <div class="each-calendar-dayTime" *ngFor="let time of timeContainer"></div>
</div>
